/* normalize */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* header */



header {
    height: 130px;
    background-color: #85CDF5;
    border-bottom: 2px solid black;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.Icone {
    padding: 0.5%;
}

.Menu_Top {
    text-decoration: none;
    color: black
}

.Menu_Top:hover {
    color: blue;
    transform: scale(1.2);
    transition: 0.5s;
}



/* footer */



footer {
    height: 275px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    /* Impede que o footer encolha */
    margin-top: auto;
    /* Empurra o footer para baixo */
}

.Footer_Border {
    width: 100%;
    min-height: 5px;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
}

.Footer_Estilizacao {
    height: 270px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Footer_Esquerda {
    display: flex;
    align-items: center;
}

.Mapa {
    margin-right: 3%;
}

.Contato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin-bottom: 2%;
    color: #FFFFFF;
}

.Img_Footer {
    margin-right: 2%;
}

.Direita_Mapa {
    margin-top: 10px;
}

#Contato4>a {
    background-color: yellow;
    text-decoration: none;
    padding: 7px 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5%;
}

.Footer_Direita {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Footer_Direita p {
    font-size: 18px;
    color: white;
    margin-bottom: 4px;
}


/* ------------------------------------------ */

main {
    flex: 1;
    display: flex;

    /* Bota no centro */
    justify-content: center;
    align-items: center;
    flex-direction: column;


    /* Garante que o main ocupe o espaço entre o header e o footer */
    flex-grow: 1;
    padding: 40px 20px;
}



/* texto */

.titulo {
    width: 100%;
    max-width: 811.59px;
    margin: 50px auto 20px auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    font-weight: 300;
}

.descricao {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 200;

    line-height: 32px;
    text-align: center;
    letter-spacing: 0.155em;
    color: #000000;
    padding: 20px;
}